<a href="https://colab.research.google.com/github/zpetey28/IS4487_ZackPeterson/blob/main/Copy_of_lab3_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab3_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [2]:
import pandas as pd

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [3]:

file_path = '/content/drive/MyDrive/Colab Notebooks/Data_Analytics/Lab 3/superstore_retail_orders.csv'

# Reading the dataset into a pandas dataframe.
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe.
print(df.head())

# Basic description of the dataframe.
print(df.describe())

   customer_id      customer_name        address_line_1        city  \
0           67      Gordy Matteau   59 Northland Circle  Wilmington
1          201     Cort Paskerful       769 Buell Drive  Huntsville
2           45    Willetta Lumley     41 Ridgeway Alley      Irvine
3          106   Alison Batterton         489 Erie Hill    Richmond
4          357  Martelle Paxeford  451 Manitowish Place    Richmond

  state_province  postal_code  order_id  order_date  customer_id.1  \
0            DE       19805.0      1001  2020-01-11             67
1            AL       35810.0      1002  2019-11-22            201
2            CA       92612.0      1003  2019-09-17             45
3            VA       23293.0      1004  2019-12-09            106
4            VA       23293.0      1005  2019-06-08            357

   order_id.1  product_id  quantity  product_id.1       product_name  \
0        1001         106       3.0           106  Great value Juice
1        1002         104       2.0           104               Desk
2        1003         107       5.0           107     Dove deodorant
3        1004         106       8.0           106  Great value Juice
4        1005         107       7.0           107     Dove deodorant

  product_price total_amount order_year_month order_month
0         $1.99        $5.97          2020-01    January
1        $85.98      $171.96          2019-11   November
2         $3.99       $19.95          2019-09   September
3         $1.99       $15.92          2019-12   December
4         $3.99       $27.93          2019-06       June
       customer_id   postal_code     order_id  customer_id.1   order_id.1  \
count  9569.000000   9416.000000  9569.000000    9569.000000  9569.000000
mean    282.910962  52225.007116  5107.539450     282.910962  5107.539450
std     199.763947  29619.544418  2043.449403     199.763947  2043.449403
min       1.000000   1105.000000  1001.000000       1.000000  1001.000000
25%     127.000000  27409.000000  3393.000000     127.000000  3393.000000
50%     253.000000  48295.000000  5577.000000     253.000000  5577.000000
75%     376.000000  79923.000000  6829.000000     376.000000  6829.000000
max     800.000000  99812.000000  8147.000000     800.000000  8147.000000

        product_id     quantity  product_id.1
count  9569.000000  9513.000000   9569.000000
mean    106.736650     3.453380    106.736650
std       3.694805     4.393894      3.694805
min     101.000000     1.000000    101.000000
25%     104.000000     1.000000    104.000000
50%     107.000000     1.000000    107.000000
75%     110.000000     4.000000    110.000000
max     114.000000    20.000000    114.000000

## Prepare Data

➡️ Assignment Tasks
- Convert the Total_Amount into a number (not a string)
- Remove rows with empty (NULL) values
- Optional: Locate outliers in any of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [4]:


# Remove the dollar sign from 'total_amount' and convert to float, then to integer.
df['total_amount'] = df['total_amount'].astype(str)
df['total_amount'] = pd.to_numeric(df['total_amount'].str.replace('$', ''), errors='coerce')
df['total_amount'] = df['total_amount'].astype(float)
# Remove rows with any NULL values.
df.dropna(inplace=True)

# Display the first few rows of the updated dataframe.
print(df.head())

# Basic description of the updated dataframe.
print(df.describe())

   customer_id      customer_name        address_line_1        city  \
0           67      Gordy Matteau   59 Northland Circle  Wilmington
1          201     Cort Paskerful       769 Buell Drive  Huntsville
2           45    Willetta Lumley     41 Ridgeway Alley      Irvine
3          106   Alison Batterton         489 Erie Hill    Richmond
4          357  Martelle Paxeford  451 Manitowish Place    Richmond

  state_province  postal_code  order_id  order_date  customer_id.1  \
0            DE       19805.0      1001  2020-01-11             67
1            AL       35810.0      1002  2019-11-22            201
2            CA       92612.0      1003  2019-09-17             45
3            VA       23293.0      1004  2019-12-09            106
4            VA       23293.0      1005  2019-06-08            357

   order_id.1  product_id  quantity  product_id.1       product_name  \
0        1001         106       3.0           106  Great value Juice
1        1002         104       2.0           104               Desk
2        1003         107       5.0           107     Dove deodorant
3        1004         106       8.0           106  Great value Juice
4        1005         107       7.0           107     Dove deodorant

  product_price  total_amount order_year_month order_month
0         $1.99          5.97          2020-01    January
1        $85.98        171.96          2019-11   November
2         $3.99         19.95          2019-09   September
3         $1.99         15.92          2019-12   December
4         $3.99         27.93          2019-06       June
       customer_id   postal_code     order_id  customer_id.1   order_id.1  \
count  8768.000000   8768.000000  8768.000000    8768.000000  8768.000000
mean    268.838846  52211.691834  4993.642678     268.838846  4993.642678
std     190.387498  29690.256129  2032.525375     190.387498  2032.525375
min       1.000000   1105.000000  1001.000000       1.000000  1001.000000
25%     121.000000  27404.000000  3272.750000     121.000000  3272.750000
50%     243.000000  48295.000000  5450.500000     243.000000  5450.500000
75%     363.000000  79923.000000  6689.250000     363.000000  6689.250000
max     800.000000  99812.000000  8147.000000     800.000000  8147.000000

        product_id     quantity  product_id.1  total_amount
count  8768.000000  8768.000000   8768.000000   8768.000000
mean    106.732208     3.377053    106.732208    313.472843
std       3.658348     4.290116      3.658348    322.533974
min     101.000000     1.000000    101.000000      1.990000
25%     104.000000     1.000000    104.000000     55.990000
50%     107.000000     1.000000    107.000000    132.515000
75%     110.000000     4.000000    110.000000    485.000000
max     114.000000    20.000000    114.000000    988.720000

<ipython-input-4-fb746e050823>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['total_amount'] = pd.to_numeric(df['total_amount'].str.replace('$', ''), errors='coerce')

## Summarize Data

➡️ Assignment Tasks
- Display the average price per month
- Display the total revenue for all months

In [5]:
#average price
df['product_price'] = df['product_price'].replace('[\$,]', '', regex=True).astype(float)

average_price_per_month = df.groupby('order_month')['product_price'].mean().reset_index()

average_price_per_month

df.describe

<bound method NDFrame.describe of       customer_id      customer_name        address_line_1          city  \
0              67      Gordy Matteau   59 Northland Circle    Wilmington
1             201     Cort Paskerful       769 Buell Drive    Huntsville
2              45    Willetta Lumley     41 Ridgeway Alley        Irvine
3             106   Alison Batterton         489 Erie Hill      Richmond
4             357  Martelle Paxeford  451 Manitowish Place      Richmond
...           ...                ...                   ...           ...
9561          240     Barnard Hatley        5541 Kim Alley        Duluth
9565          370    Darby Tesseyman   7468 Jackson Circle        Albany
9566          598   Henka De Ferrari    89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne  9630 Washington Hill     Watertown
9568          482       Matelda Bull    6406 Bultman Alley  Gaithersburg

      state_province  postal_code  order_id  order_date  customer_id.1  \
0                DE       19805.0      1001  2020-01-11             67
1                AL       35810.0      1002  2019-11-22            201
2                CA       92612.0      1003  2019-09-17             45
3                VA       23293.0      1004  2019-12-09            106
4                VA       23293.0      1005  2019-06-08            357
...              ...          ...       ...         ...            ...
9561             GA       30195.0      8140  2021-03-04            240
9565             NY       12210.0      8144  2021-06-16            370
9566     California       94064.0      8145  2021-05-09            598
9567  Massachusetts        2472.0      8146  2021-04-13            737
9568       Maryland       20883.0      8147  2021-03-21            482

      order_id.1  product_id  quantity  product_id.1            product_name  \
0           1001         106       3.0           106       Great value Juice
1           1002         104       2.0           104                    Desk
2           1003         107       5.0           107          Dove deodorant
3           1004         106       8.0           106       Great value Juice
4           1005         107       7.0           107          Dove deodorant
...          ...         ...       ...           ...                     ...
9561        8140         110       1.0           110         Apple iPad Mini
9565        8144         109       1.0           109  Samsung Galaxy Note 10
9566        8145         110       1.0           110         Apple iPad Mini
9567        8146         113       2.0           113          Extension cord
9568        8147         113       5.0           113          Extension cord

      product_price  total_amount order_year_month order_month
0              1.99          5.97          2020-01    January
1             85.98        171.96          2019-11   November
2              3.99         19.95          2019-09   September
3              1.99         15.92          2019-12   December
4              3.99         27.93          2019-06       June
...             ...           ...              ...         ...
9561         329.99        329.99          2021-03      March
9565         749.99        749.99          2021-06       June
9566         329.99        329.99          2021-05        May
9567          15.59         31.18          2021-04      April
9568          15.59         77.95          2021-03      March

[8768 rows x 18 columns]>

In [6]:
#total revenue
df = df.rename(columns={'total_amount': 'total_amount(sum)'})

# Calculate the sum of the renamed column
total_rev = df['total_amount(sum)'].sum()

print("The total revenue of 'total_amount(sum)' column is: $", total_rev)

The total revenue of 'total_amount(sum)' column is: $ 2748529.89